body {
  width: 340px;
}

img {
  width:300px;
}

ul {
  list-style: none;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.italic{
  font-style:italic;
}

.outside,
.inside {
  border: 1px solid #ddd;
  padding: 10px;
}
